public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*nestjs*
engine-strict=true
deploy-all-files=true
frozen-lockfile=false
legacy-peer-deps=true
node-linker=hoisted
shamefully-hoist=true
